@font-face {
        font-family: 'CP_Font';
        src: url('CP_Font.woff') format('woff'),
             url('CP_Font.woff2') format('woff2'),
             url('CP_Font.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
}

img {
    cursor: pointer;
    transition: transform 0.2s;
}

img:hover {
    transform: scale(1.0);
}

.danger-button {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

body {
    font-family: 'CP_Font', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.danger-button img {
    max-width: 500px;
}

.text-top {
    font-family: 'CP_Font', sans-serif;
    font-size: 5rem;
    text-align: center;
}

.text-bottom {
    font-family: 'CP_Font', sans-serif;
    font-size: 3rem;
    text-align: center;
    color: #ff6666;
}
